button {
     border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: small;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(245, 80, 80);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin-left: 6px;
}

input::placeholder {
  font-size: 1.2em;
  font-style: italic;
  opacity: 0.5;
  background-color: ivory;
  border: 2px solid darkorange;
  border-radius: 5px;
}

li {

list-style: none;
font-size: larger;
text-decoration: dashed;
}

h1 {
    text-align: center;
}

div {
    text-align: center;
    margin: auto;
}
